.formContainer {
  max-width: 25rem;
  width: 100%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.4s ease;
  padding: 2.5rem;
  border-radius: 2rem;
}

.formContainer:hover {
  box-shadow: 0px 15px 35px;
}
